<ul class="fa-ul flow">
    <li>
        <span class="fa-li"><i class="fa-solid fa-check"></i> </span>
        <a href="#" class="u-hover">FAQ</a>
    </li>
    <li>
        <span class="fa-li"><i class="fa-solid fa-check"></i> </span>
        <a href="#" class="u-hover">Support</a>
    </li>
    <li>
        <span class="fa-li"><i class="fa-solid fa-check"></i> </span>
        <a href="#" class="u-hover">Donate</a>
    </li>
    <li>
        <span class="fa-li"><i class="fa-solid fa-check"></i> </span>
        <a href="#" class="u-hover">Contact</a>
    </li>
</ul>