<header>
  <div class="header container--wide">
    <div>
      <img class="logo" width="50px" src="/assets/logo.png" alt=""/>
    </div>
    <button class="mobile-nav-toggle" aria-controls="primary-nav">
      <span class="sr-only" aria-expanded="false">Menu</span>
    </button>
    <nav>
      <ul id="primary-nav" class="primary-nav bg-white" data-visible="false" role="list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="https://dostonnabotov.netlify.com" target="_blank" rel="noopener noreferrer">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
