<header>
  <div class="header container--wide">
    <div>
      <img class="logo" width="50px" src="/assets/logo.png" alt=""/>
    </div>
    <button class="mobile-nav-toggle" aria-controls="primary-nav">
      <span class="sr-only" aria-expanded="false">Menu</span>
    </button>
    <nav>
      <ul id="primary-nav" class="primary-nav bg-white" data-visible="false" role="list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li class="dropdown">
          <button class="dropdown__btn">
            <a href="/blog">
              Projects
              <i class="fas fa-angle-down"></i>
            </a>
          </button>
          <ul class="dropdown__content" role="list">
            <li>
              <a href="/blog/linear_algebra/">Maths</a>
            </li>
            <li>
              <a href="/blog">Physics</a>
            </li>
            <li>
              <a href="/blog/computer-networks/">Science</a>
            </li>
            <li>
              <a href="/blog/data_structure/">IT</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
