<nav class="sidebar__region">
  <h4 class="sidebar__title">Featured Articles</h4>
  <hr/>
  <ul class="fa-ul flow">
    {% for post in collections.featured %}
      <li>
        <span class="fa-li">
          <i class="fa-solid fa-check"></i>
        </span>
        <a href="{{ post.url }}" class="u-hover">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>