<nav class="sidebar__region">
  <h4 class="sidebar__title">Featured Articles</h4>
  <hr/>
  <ul class="fa-ul flow">
    {% for post in collections.featured %}
      <li>
        <span class="fa-li">
          <i class="fa-solid fa-check"></i>
        </span>
        <a href="{{ post.url }}" class="u-hover">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav class="sidebar__region">
  <h2 class="sr-only">Side Menu</h2>
  <ul class="fa-ul flow">
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">FAQ</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">Support</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">Donate</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">Contact</a>
    </li>
  </ul>
</nav>