<nav class="sidebar__region">
  <h2 class="sr-only">Side Menu</h2>
  <ul class="fa-ul flow">
    {% for project in collections.projects %}
      <li>
        <span class="fa-li">
          <i class="fa-solid fa-check"></i>
        </span>
        <a href="{{ project.url }}" class="u-hover">{{ project.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{# for demo only #}
<nav class="sidebar__region">
  <h2 class="sr-only">Side Menu</h2>
  <ul class="fa-ul flow">
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">FAQ</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">Support</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">Donate</a>
    </li>
    <li>
      <span class="fa-li">
        <i class="fa-solid fa-check"></i>
      </span>
      <a href="#" class="u-hover">Contact</a>
    </li>
  </ul>
</nav>