---
title: Project | Projects
layout: 'base.njk'
---

{% include 'back-to-top.njk' %}
<div class="grid grid--main container--wide">
  <div class="content container--narrow flow">
    <article class="flow">
      <h2 class="fs-700">Projects</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, obcaecati. Incidunt ratione
        illum libero, iste laudantium dolores doloremque odio veritatis ipsam expedita nam explicabo tempore
        officiis! Facere maxime aliquam doloremque.
      </p>
    </article>
    {% for project in collections.projects %}
      <section class="layout clearfix">
        <div class="layout__img">
          <a href="{{ project.url }}">
            <img loading="lazy" src="{{ project.data.img }}" alt="{{ project.data.img }}"/>
          </a>
        </div>
        <div class="layout__info flow bg-white text dark">
          <h3 class="fs-500">
            <a href="{{ project.url }}" class="u-hover">{{ project.data.title }}</a>
          </h3>
          <p>{{ project.data.description }}</p>
        </div>
      </section>
    {% endfor %}
  </div>
  <aside class="sidebar">
    <div class="sidebar__regions flow">
      {% include 'sidebar.njk' %}
    </div>
  </aside>
</div>