---
title: Calculus
img: /assets/images/img-2.jpg
imgAlt: windows logo
description: Calculus is one of the most important branches of mathematics that deals 
  with continuous change. Calculus focuses on some important topics covered in math 
  such as differentiation, integration, limits, functions, and so on.
tags: projects
layout: "article-snippet.njk"
---

<div class="content flow">
  <article class="flow">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </article>
  <div class="layouts flow">
    {% for calculus in collections.calculus %}
      <section class="layout clearfix">
        <div class="layout__img">
          <a href="{{ calculus.url }}">
            <img loading="lazy" src="{{ calculus.data.img }}" alt="{{ calculus.data.img }}"/>
          </a>
        </div>
        <div class="layout__info flow bg-white text dark">
          <h3 class="fs-500">
            <a href="{{ calculus.url }}" class="u-hover">{{ calculus.data.title }}</a>
          </h3>
          <p>{{ calculus.data.description }}</p>
        </div>
      </section>
    {% endfor %}
  </div>
</div>
<aside class="sidebar">
  <div class="sidebar__regions flow">
    <nav class="sidebar__region">
      <h2 class="sr-only">Side Menu</h2>
      <ul class="fa-ul flow">
        {% for calculus in collections.calculus %}
          <li>
            <span class="fa-li">
              <i class="fa-solid fa-check"></i>
            </span>
            <a href="{{ calculus.url }}" class="u-hover">{{ calculus.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {% include 'sidebar.njk' %}
  </div>
</aside>