---
title: Discrete Mathematics
img: /assets/images/img-1.jpg
imgAlt: laptop
description: Discrete Mathematics is a branch of mathematics involving discrete elements 
  that uses algebra and arithmetic. It is increasingly being applied in the practical fields of 
  mathematics and computer science.
tags: projects
# for demo only
layout: "article-snippet.njk"
---

<div class="content flow">
  <article class="flow">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </article>
  <div class="layouts flow">
    {% for discrete in collections.discrete_maths %}
      <section class="layout clearfix">
        <div class="layout__img">
          <a href="{{ discrete.url }}">
            <img loading="lazy" src="{{ discrete.data.img }}" alt="{{ discrete.data.img }}"/>
          </a>
        </div>
        <div class="layout__info flow bg-white text dark">
          <h3 class="fs-500">
            <a href="{{ discrete.url }}" class="u-hover">{{ discrete.data.title }}</a>
          </h3>
          <p>{{ discrete.data.description }}</p>
        </div>
      </section>
    {% endfor %}
  </div>
</div>
<aside class="sidebar">
  <div class="sidebar__regions flow">
    <nav class="sidebar__region">
      <h2 class="sr-only">Side Menu</h2>
      <ul class="fa-ul flow">
        {% for discrete in collections.discrete_maths %}
          <li>
            <span class="fa-li">
              <i class="fa-solid fa-check"></i>
            </span>
            <a href="{{ discrete.url }}" class="u-hover">{{ discrete.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {% include 'sidebar.njk' %}
  </div>
</aside>