---
title: Projects | Math
layout: 'base.njk'
---

{% include 'back-to-top.njk' %}
<div class="grid grid--main container--wide">
  <div class="content flow">
    <article class="flow">
      <h2 class="fs-700">Math</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, obcaecati. Incidunt ratione illum libero, iste
        laudantium dolores doloremque odio veritatis ipsam expedita nam explicabo tempore officiis! Facere maxime aliquam
        doloremque. When \(a\ne0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac}
        \over 2a}.$$
      </p>
    </article>
    <div class="layouts flow">
      {% layout 
        title="Linear Algebra",
        imgUrl="/assets/images/img-2.jpg",
        imgAlt="windows logo",
        link="#",
        content="Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quibusdam dolor expedita, possimus quisquam quas nemo nam
            deserunt velit hic quasi, consequuntur" 
      %}
      {% layout
        title="Vector Algebra", 
        imgUrl="/assets/images/img-3.jpg",
        imgAlt="pencils",
        link="/pages/projects/math/vector_algebra/",
        content="Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quibusdam dolor expedita, possimus quisquam quas nemo nam
            deserunt velit hic quasi, consequuntur",
        dark="true"
      %}
      {% layout
        title="Functions and Limits", 
        imgUrl="/assets/images/img-1.jpg",
        imgAlt="laptop on a desk",
        link="#",
        content="Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quibusdam dolor expedita, possimus quisquam quas nemo nam
            deserunt velit hic quasi, consequuntur"
      %}
    </div>
  </div>
  {% include 'sidebar.njk' %}
</div>