---
title: Project | Projects
layout: 'base.njk'
---

<div class="cards">
  {% card 
    url="https://dostonnabotov.github.io/interactive-rating-component/",
    github="https://github.com/dostonnabotov/interactive-rating-component",
    title="Interactive rating component",
    img="/assets/images/frontend-mentor/interactive-rating-component.png",
    imgAlt="screenshot of Interactive rating component",
    skill_1="HTML",
    skill_2="CSS",
    skill_3="JavaScript",
    date="Jun 12, 2022"
  %}
  {% card 
    url="https://dostonnabotov.github.io/intro-component-with-signup-form/",
    github="https://github.com/dostonnabotov/intro-component-with-signup-form",
    title="Intro component with signup form",
    img="/assets/images/frontend-mentor/intro-component-with-signup-form.png",
    imgAlt="screenshot of Intro component with signup form",
    skill_1="HTML",
    skill_2="CSS",
    skill_3="JavaScript",
    date="Jun 9, 2022"
  %}
  {% card 
    url="https://dostonnabotov.github.io/nft-preview-card-component-main/",
    github="https://github.com/dostonnabotov/nft-preview-card-component-main",
    title="NFT preview card component",
    img="/assets/images/frontend-mentor/nft-card-component.png",
    imgAlt="screenshot of NFT preview card component",
    skill_1="HTML",
    skill_2="CSS",
    date="Jun 7, 2022"
  %}
  {% card 
    url="https://fm-interactive-pricing-component.netlify.app/",
    github="https://github.com/dostonnabotov/interactive-pricing-component-main",
    title="Interactive Pricing component",
    img="/assets/images/frontend-mentor/interactive-pricing-component.png",
    imgAlt="screenshot of Interactive Pricing component",
    skill_1="HTML",
    skill_2="Sass",
    skill_3="JavaScript",
    date="Jun 1, 2022"
  %}
  {% card 
    url="https://dostonnabotov.github.io/social-media-dashboard-with-theme-switcher-master/",
    github="https://github.com/dostonnabotov/social-media-dashboard-with-theme-switcher-master",
    title="Social Media Dashboard",
    img="/assets/images/frontend-mentor/social-media-dashboard.png",
    imgAlt="screenshot of Social Media Dashboard",
    skill_1="HTML",
    skill_2="Sass",
    skill_3="JavaScript",
    date="May 3, 2022"
  %}
  {% card 
    url="https://dostonnabotov.github.io/social-proof-section-master/",
    github="https://github.com/dostonnabotov/social-proof-section-master",
    title="Social Proof Section",
    img="/assets/images/frontend-mentor/social-proof-section.png",
    imgAlt="screenshot of Social Proof Section",
    skill_1="HTML",
    skill_2="Sass",
    date="Apr 21, 2022"
  %}
  {% card 
    url="https://dostonnabotov.github.io/four-card-feature-section-master/",
    github="https://github.com/dostonnabotov/four-card-feature-section-master",
    title="Four Card Feature Section",
    img="/assets/images/frontend-mentor/four-card-feature-section.png",
    imgAlt="screenshot of Four Card Feature Section",
    skill_1="HTML",
    skill_2="CSS",
    date="Apr 20, 2022"
  %}
  {% card 
    url="https://dostonnabotov.github.io/3-column-preview-card-component-main/",
    github="https://github.com/dostonnabotov/3-column-preview-card-component-main",
    title="3 column preview card",
    img="/assets/images/frontend-mentor/3-column-preview-card.png",
    imgAlt="screenshot of 3 column preview card",
    skill_1="HTML",
    skill_2="CSS",
    date="Apr 20, 2022"
  %}
</div>