---
title: Project | Projects
layout: 'base.njk'
---

<h1>Frontend Mentor Challenges</h1>
<div class="cards">
  {# Use this as a template #}
  <div class="card flow">
    <div class="card__img">
      <a href="https://github.com/dostonnabotov/social-media-dashboard-with-theme-switcher-master">
        <img src="/assets/images/desktop-preview.jpg" alt="desktop preview"> 
      </a>
    </div>
    <div class="card__content flow">
      <h2>
        <a href="https://github.com/dostonnabotov/social-media-dashboard-with-theme-switcher-master">Social Media Dashboard</a>
      </h2>
      <div class="skills flex">
        <span class="skill">HTML</span>
        <span class="skill">Sass</span>
        <span class="skill">JavaScript</span>
        <span class="skill">React</span>
      </div>
      <div class="author flex">
        <div class="author__img">
          <img src="/assets/images/coding.jpg" alt="coding">
        </div>
        <div>
          <span class="author__name">Doston Nabotov</span>
          <span class="author__date">June 3, 2022</span>
        </div>
      </div>
      <p>That was a great challenge for me to practice dark and light theme in the website. Aligning them
        to match the design perfectly took some time, but yet it was a lot of fun!</p>
    </div>
    <div class="card__meta flex">
      <a href="https://github.com/dostonnabotov/social-media-dashboard-with-theme-switcher-master">
        <i class="fab fa-github"></i>
        Github Repository
      </a>
      <a href="https://social-media-dashboard-with-theme-switcher-main.netlify.app/">
        <i class="fas fa-link"></i>
        Live Site
      </a>
    </div>
  </div>
</div>